
.body{
  background-color: #9dcbe6a0;
  align-items: center;
}
.gallary{
 align-items: center;
 padding-left:3cm;
 padding-right: 3cm;
 padding-top: -2cm;
}
  h1 {
    font-size: 23px;
    font-family: cursive;
    background-color: #0da4ea00;
    text-shadow: 2px -1px 3px rgb(255, 255, 255);
    text-align: center;
}
.background {
  background-image: url(medias/sky.jpg);
  background-position: right;
  background-size: cover;
  background-attachment: scroll;
  height: 280px;
  width: 400px;
}

h1:hover{
    color: rgba(0, 193, 52, 0.661);

}
      h2 {
    color: #7f1293;
    font-size: 25px;
}
  p{
        padding: 9px;
        text-shadow: rgb(255, 12, 12);
        text-align: left;
        text-size-adjust: 2px;
        word-spacing:10;    
      }
     
   h2 
   {
    color: #7f1293;
    font-size: 20px;
   }

  nav a{
    text-decoration: none;
    font: size 40px;
    color:white;
    padding: 10px;
    text-align: right;
    float:right;
    color: tomato;
    background-color: rgba(0, 0, 0, 0.426);
    overflow: hidden;
}

  nav a:hover{
    color: rgba(11, 38, 244, 0.681);
    text-decoration: none;
}
  
video{
  width: 500px;
  align-items: center;
}
#intro{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left:1cm;
  padding-right:2cm;
  margin-right: 2cm;
  margin-left: 0cm;
}
#footer{
  background-color: rgba(27, 114, 85, 0.653);
  align-content: flex-end;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}
#last{
  text-align: center;
}
#text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(38, 206, 206);
}
#fb-comments{
  text-align: center;
  align-items: center;
  padding-left:3cm;
  padding-right:3cm;
}