nav a{
    text-decoration: none;
    font: size 70px;
    color:white;
    padding: 22px;
    text-align: right;
    float: left;
}
nav a{
    color: tomato;
    background-color: black;
    overflow: hidden;
}

nav a:hover{
    color: blue;
}
p {
    padding: 1px;
    text-shadow: rgb(255, 12, 12);
    text-align: left;
    text-size-adjust: 2px;
    word-spacing: 10;
}

<style>
  /* yaha nirw h1 ko sabai kura milayeyeko xw css ko help ley */
  h1 {
    font-size: 23px;
    font-family: cursive;

    background-color: #0232f03c;
    text-shadow: 2px -1px 3px rgb(255, 255, 255);
    text-align: center;
}


.background {
  background-image: url(medias/sky.jpg);
  background-position: right;
  background-size: cover;
  background-attachment: scroll;
  height: 280px;
  width: 400px;
}

h1:hover{
    color: rgba(11, 244, 30, 0.748);

</style>

<style>
  p{
        padding: 9px;
        text-shadow: rgb(255, 12, 12);
        text-align: left;
        text-size-adjust: 2px;
        word-spacing:10;
      }
      h2 {
    color: #7f1293;
    font-size: 25px;
}

<style>
  p{
        padding: 9px;
        text-shadow: rgb(255, 12, 12);
        text-align: left;
        text-size-adjust: 2px;
        word-spacing:10;

        
      }

      h2 {
    color: #7f1293;
    font-size: 20px;
}

  nav a{
    text-decoration: none;
    font: size 40px;
    color:white;
    padding: 10px;
    text-align: right;
    float:right;
    color: tomato;
    background-color: rgba(0, 0, 0, 0.426);
    overflow: hidden;
}

  nav a:hover{
    color: rgb(42, 244, 11);
}
  
video{
  width: 500px;
  align-items: center;
}

    </style>
